{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    
{% block head %}
<title>Communication Portal</title>
{% endblock %}

<meta name="author" content="">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="Achieve your dream of becoming a doctor under a budget of 25 lakhs. A safe place for Indain students with Indain food and community.
Get the invitation letter from the university first then make the payment to us.">

<meta name="keywords" content="universites of ukraine, colleges of ukraine, study in ukraine, ukraine universities study, study in ukraine after 12th,
	ukraine best colleges, study in ukraine without ielts, ukraine study, how to get admission in ukraine, mbbs in ukraine, admission in ukraine university, 
	admission in ukraine, admission to ukraine universities, mbbs in abroad, study mbbs in abroad, study mbbs abroad at low cost, study mbbs in abroad with scholarship,
	MBBS in Ukraine, mbbs in ukraine for indian students, mbbs colleges in ukraine, mbbs in ukraine fee structure, medical in ukraine, Advantage of Study MBBS IN Ukraine, 
	MBBS in Ukraine Fees Structure 2020-21, MBBS in Ukraine, MBBS admission in Ukraine, MBBS Universities in Ukraine, MBBS Fees in Ukraine, Study MBBS in Ukraine,
	study Medicine in Ukraine, MCI approved Medical Universities in Ukraine, eligibility for MBBS in Ukraine, Procedure for MBBS in Ukraine, 
	Medical education in Ukraine, top 10 medical colleges in Ukraine, MBBS courses in Ukraine, Ukraine MBBS colleges, MBBS programs in Ukraine, 
	Ukraine medical universities, MCI approved Ukraine medical colleges, MBBS in Ukraine in English, MBBS syllabus in Ukraine, MBBS course in Ukraine, 
	MBBS degree in Ukraine, top rated MBBS University in Ukraine, MBBS in Ukraine in English, top Ukraine colleges for MBBS, MBBS college in Ukraine,
	Ukraine MBBS university, Ukraine medical colleges for MBBS, Indian students in Ukraine, Ukraine MBBS syllabus, MBBS education in Ukraine, 
	top medical colleges in Ukraine, education in Ukraine for Indian students, MBBS in Ukraine, MBBS admission in Ukraine, MBBS Universities in Ukraine, 
	Study MBBS in Ukraine, MCI approved Medical Universities in Ukraine, top medical colleges in Ukraine, MBBS course in Ukraine, 
	top rated MBBS University in Ukraine, top Ukraine colleges for MBBS, MBBS degree in Ukraine, Mbbs University, best mbbs consultancy, 
	mbbs study in abroad, consultancy for mbbs, best countries for mbbs,Study Abroad Consultants, Overseas Education Consultants, 
	study abroad Education consultants in Delhi Admission to MBBS, Study Abroad, Abroad visa process, apply for a study visa in Abroad, 
	student visa Abroad, Courses in Abroad, study in Abroad, colleges in Abroad, Study in Colleges in Abroad, education in Abroad, IDP India, 
	education, consultants, study overseas, study abroad, international education ">

<link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css.map' %}">
<link rel="stylesheet" href="{% static 'home/css/animate.css' %}">
<link rel="stylesheet" href="{% static 'home/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'home/css/owl.theme.css' %}">
<link rel="stylesheet" href="{% static 'home/css/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'home/css/gallery/light-box.css' %}">
<link rel="shortcut icon" href="{% static 'home/images/favicon.ico' %}" type="image/x-icon">
<link rel="icon" href="{% static 'home/images/favicon.ico' %}" type="image/x-icon">
<!-- Main css -->
<link rel="stylesheet" href="{% static 'home/css/style.css' %}">

<!-- Google Font -->
<link href='https://fonts.googleapis.com/css?family=Poppins:400,500,600' rel='stylesheet' type='text/css'>
</head>
<body data-spy="scroll" data-offset="50" data-target=".navbar-collapse">

<!-- =========================
     PRE LOADER       
============================== -->
<div class="preloader">

	<div class="sk-rotating-plane"></div>

</div>
{% block body %}

{% endblock %}

<!-- =========================
    FOOTER SECTION   
============================== -->
<footer>
	<div class="container">
		<div class="row">

			<div class="col-md-12 col-sm-12">
				<p class="wow fadeInDown" data-wow-delay="0.6s">Copyright &copy; 2020 AIU consultancy 

				<ul class="social-icon">
					<li><a href="https://www.instagram.com/admissions_in_ukraine/" target="_blank" class="fa fa-instagram wow bounceIn" data-wow-delay="1s"></a></li>
					<li><a href="https://www.facebook.com/AIUConsultancy" target="_blank" class="fa fa-facebook wow bounceIn" data-wow-delay="1.3s"></a></li>
				</ul>

			</div>
			
		</div>
	</div>
</footer>

<!-- Back top -->
<a href="#back-top" class="go-top"><i class="fa fa-arrow-circle-up"></i></a>


<!-- =========================
     SCRIPTS   
============================== -->
<script src="{% static 'home/js/jquery.js' %}"></script>
<script src="{% static 'home/js/bootstrap.min.js' %}"></script>
<script src="{% static 'home/js/jquery.parallax.js' %}"></script>
<script src="{% static 'home/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'home/js/smoothscroll.js' %}"></script>
<script src="{% static 'home/js/wow.min.js' %}"></script>
<script src="{% static 'home/js/custom.js' %}"></script>
</body>
</html>