{% extends 'base.html' %}
{% block head %}

<title>College Predictor</title>
<style>

    #myInput {
      background-position: 10px 10px;
      background-repeat: no-repeat;
      width: 100%;
      font-size: 16px;
      padding: 12px 20px 12px 40px;
      border: 1px solid #ddd;
      margin-bottom: 12px;
    }
    
    .blah{
        max-width:80vw;
        overflow-x: scroll;
        overflow-y: scroll;
    }
    
    table {
        table-layout: auto;
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      border: 1px solid #ddd;
    }
    
    p[Attributes Style] {
        direction: ltr;
        unicode-bidi: isolate;
    }
    
    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        text-align: center;
    }
    
    table thead th {
        padding: 10px;
        text-align: center;
        border: 4px solid black;
        border-collapse: collapse;
        border-color: rgb(210,210,210);
        vertical-align: center;
        min-width: 150px !important;
    }
    
    #myTable tr td:nth-child(1) { width: 300px;
    min-width: 300px; }
    
    table tbody tr td {
        padding: 10px;
        text-align: center;
        border: 2px solid black;
        border-collapse: collapse;
        border-color: rgb(224, 224, 224);
        vertical-align: center;
    }
    
    
    
    th[scope=row] {
      position: -webkit-sticky;
      position: sticky;
      left: 0;
      z-index: 1;
    }
    
    tr:nth-child(even){background-color: #f2f2f2}
    
        </style>
    
{% endblock %}

{% block body %}

<!-- =========================
     NAVIGATION LINKS     
============================== -->
<div class="navbar navbar-fixed-top custom-navbar" role="navigation">
	<div class="container">

		<!-- navbar header -->
		<div class="navbar-header">	
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
      </button>	
      	
			<a href="/"><img class="company_logo" src="static/home/images/Logodescription.png"></a>
		</div>

		<div class="collapse navbar-collapse">

			<ul class="nav navbar-nav navbar-right">
				<li><a href="/" class="smoothScroll">Home</a></li>
				
				<li class="dropdown">
          <button class=" dropbtn university">NEET</button>
          <div class="dropdown-content1">
            <a href="/college-predictor" class="smoothScroll">College Predictor</a>
            <a href="/previous-year-cutoffs" class="smoothScroll">Previous Year Cutoffs</a>
          </div>
        </li>
				<li class="dropdown">
					<button class="dropbtn university">Universities</button>
					<div class="dropdown-content">
					  
					  <a href="/ivano-frankivsk-national-medical-university">Ivano-Frankivsk National Medical University</a>
					  <a href="/lviv-national-medical-university">Lviv National Medical University</a>
					  <a href="/poltava-state-medical-university">Poltava State Medical University</a>
					  <a href="/bogomolets-national-medical-university">Bogomolets National Medical University</a>
					</div>
				</li>
				<li><a href="/gallery" class="smoothScroll">Gallery</a></li>
				<li><a href="/#register" class="smoothScroll">Callback</a></li>
				<li><a href="/#contact" class="smoothScroll">Contact Us</a></li>
			</ul>
        </div>


	</div>
</div>

<!-- =========================
    INTRO SECTION   
============================== -->
<section id="intro" class="intro">
	<div class="container">
		<div class="row">

			<div class="col-md-12 col-sm-12">
				<a href="#overview" rel="nofollow"  class="btn btn-lg btn-default smoothScroll wow fadeInUp " data-wow-delay="1s">LEARN MORE</a>
			</div>


		</div>
	</div>
</section>
         
<!-- =========================
    OVERVIEW SECTION   
============================== --> 
<section  id="table1" class="parallax-section">
	<div class="container" >
		<div class="row" >

            <h2>Predict Your College</h2>
            <form name="college_predictor" method="POST">
                {% csrf_token %}
                <!-- <label></label> -->
                {% if user %}
                <!-- <select id ="quota" name ="quota">
                    <option value="" disabled selected hidden>Select Quota</option>
                    <option value="AIQ">AIQ</option>
                    <option value="NRI">NRI</option>
                    <option value="MNG">MNG</option>
                </select> -->
                <input required type="number" name="rank" placeholder="Enter your Rank">
                <select required id ="course" name ="course">
                    <option value="" disabled selected hidden>Select Course</option>
                    <option value="MBBS">MBBS</option>
                    <option value="BDS">BDS</option>
                </select>
                <select required id ="cast" name ="cast">
                    <option value="" disabled selected hidden>Caste Group</option>
                    <!-- <option value="ews">Economically Weaker Section</option> -->
                    <option value="gen">General</option>
                    <option value="obc">Other Backward Classes</option>
                    <option value="sc">Scheduled Caste</option>
                    <option value="st">Scheduled Tribe</option>
                </select>
                <select required id ="pwd" name ="pwd">
                    <option value="" disabled selected hidden>Are you Specially Abled?</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
                {% endif %}
                {% if not user %}
                <input placeholder="Name" required name = "name" type="name">
                <input placeholder="Number" required name = "number" type="number">
                <input placeholder="Email" required name="email" type="email">
                {% endif %}
                <button>Submit</button>
            </form>
            <br>
		</div>
            <div class="row" style="overflow-x: scroll; overflow-y: scroll;">
                <table id="myTable1" border="1" >
                    <col width="auto">
                    <col width="auto">
                    <col width="auto">
                    <col width="auto">
                    <col width="auto">
                    <col width="auto">
                    <col width="auto">
                    <col width="auto">
                    <col width="auto">
                    <tr>
                        <!-- <th rowspan="2"><p><strong>COUNCELLING ROUND</strong></p></th> -->
                        <th rowspan="2"><p><strong>COLLEGE</strong></p></th>
                        <th rowspan="2"><p><strong>STATE</strong></p></th>
                        <th rowspan="2"><p><strong>REGION</strong></p></th>
                        <th rowspan="2"><p><strong>QUOTA</strong></p></th>
                        {% if category == 'gen' or category == 'gn_pwd' %}
                          <th colspan="3"><p><strong>GEN</strong></p></th>
                        {% endif %}
                        {% if category == 'obc' or category == 'obc_pwd' %}
                          <th colspan="3"><p><strong>OBC</strong></p></th>
                        {% endif %}
                        {% if category == 'sc' or category == 'sc_pwd' %}
                          <th colspan="3"><p><strong>SC</strong></p></th>
                        {% endif %}
                        {% if category == 'st' or category == 'st_pwd' %}
                          <th colspan="3"><p><strong>ST</strong></p></th>
                        
                        {% endif %}
                        {% if category == 'gn_pwd' %}
                          <th colspan="3"><p dir="ltr"><strong>GEN-PWD</strong></p></th>
                        {% endif %}
                        {% if category == 'obc_pwd' %}
                          <th colspan="3"><p dir="ltr"><strong>OBC-PWD</strong></p></th>
                        {% endif %}
                        {% if category == 'sc_pwd' %}
                          <th colspan="3"><p dir="ltr"><strong>SC-PWD</strong></p></th>
                        {% endif %}
                        {% if category == 'st_pwd' %}
                          <th colspan="3"><p dir="ltr"><strong>ST-PWD</strong></p></th>
                        {% endif %}
                        {% if category == 'ews' %}
                          <th colspan="3"><p dir="ltr"><strong>EWS</strong></p></th>
                        {% endif %}
                    </tr>
                    <tr>
                        <th><p><strong>OR</strong></p></th>
                        <th><p>CR</p></th>
                        <th><p><strong>SEAT</strong></p></th>
                        {% if category == 'gn_pwd' or category == 'obc_pwd' or category == 'sc_pwd' or category == 'st_pwd' %}
                          <th><p><strong>OR</strong></p></th>
                          <th><p>CR</p></th>
                          <th><p><strong>SEAT</strong></p></th>
                        {% endif %}
                    </tr>
                    <tbody>
                        {% for college in colleges %}
                        <tr>
                            <!-- <td><p>{{round}}</p></td> -->
                            <td><p>{{college}}</p></td>
                            <td><p>{{college.state}}</p></td>
                            <td><p>{{college.region}}</p></td>
                            <td><p>{{college.quota}}</p></td>
                            {% if category == 'gen' or category == 'gn_pwd' %}

                              <td><p>{{college.gn_or}}</p></td>
                              <td><p>{{college.gn_cr}}</p></td>
                              <td><p>{{college.gn_seats}}</p></td>

                            {% endif %}
                            {% if category == 'obc' or category == 'obc_pwd' %}

                              <td><p>{{college.obc_or}}</p></td>
                              <td><p>{{college.obc_cr}}</p></td>
                              <td><p>{{college.obc_seats}}</p></td>

                            {% endif %}
                            {% if category == 'sc' or category == 'sc_pwd' %}

                              <td><p>{{college.sc_or}}</p></td>
                              <td><p>{{college.sc_cr}}</p></td>
                              <td><p>{{college.sc_seats}}</p></td>

                            {% endif %}
                            {% if category == 'st' or category == 'st_pwd' %}

                              <td><p>{{college.st_or}}</p></td>
                              <td><p>{{college.st_cr}}</p></td>
                              <td><p>{{college.st_seats}}</p></td>

                            {% endif %}
                            {% if category == 'ews' %}

                              <td><p>{{college.ew_or}}</p></td>
                              <td><p>{{college.ew_cr}}</p></td>
                              <td><p>{{college.ew_seats}}</p></td>

                            {% endif %}
                            {% if category == 'gn_pwd' %}

                              <td><p>{{college.gn_pwd_or}}</p></td>
                              <td><p>{{college.gn_pwd_cr}}</p></td>
                              <td><p>{{college.gn_pwd_seats}}</p></td>

                            {% endif %}
                            {% if category == 'obc_pwd' %}

                              <td><p>{{college.obc_pwd_or}}</p></td>
                              <td><p>{{college.obc_pwd_cr}}</p></td>
                              <td><p>{{college.obc_pwd_seats}}</p></td>

                            {% endif %}
                            {% if category == 'sc_pwd' %}

                              <td><p>{{college.sc_pwd_or}}</p></td>
                              <td><p>{{college.sc_pwd_cr}}</p></td>
                              <td><p>{{college.sc_pwd_seats}}</p></td>

                            {% endif %}
                            {% if category == 'st_pwd' %}

                              <td><p>{{college.st_pwd_or}}</p></td>
                              <td><p>{{college.st_pwd_cr}}</p></td>
                              <td><p>{{college.st_pwd_seats}}</p></td>

                            {% endif %}
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

		</div>
	</div>
</section>    
<script>

    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch;
      table = document.getElementById("myTable");
      switching = true;
      while (switching) {
        switching = false;
        rows = table.rows;
        for (i = 3; i < (rows.length - 1); i++) {
          shouldSwitch = false;
          x = rows[i].getElementsByTagName("td")[n];
          y = rows[i + 1].getElementsByTagName("td")[n];
          if (Number(x.innerHTML) > Number(y.innerHTML)) {
            shouldSwitch = true;
            break;
          }
        }
        if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
        }
      }
    }
    
    function myFunction() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
    }
    
    </script>
{% endblock %}