{% extends 'base.html' %}

{% block head %}
<title>Study Abroad || MBBS in Ukraine</title>
{% endblock %}

{% block body %}
<!-- =========================
     NAVIGATION LINKS     
============================== -->
<div class="navbar navbar-fixed-top custom-navbar" role="navigation">
	<div class="container">

		<!-- navbar header -->
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a style="display: flex;" href="#" rel="nofollow" class="navbar-brand">Admissions in Ukraine Universities</a>
		</div>

		<div class="collapse navbar-collapse">

			<ul class="nav navbar-nav navbar-right">
				<li><a href="#about_us" class="smoothScroll">About</a></li>
				<li><a href="/college-predictor" class="smoothScroll">College Predictor</a></li>
				<li><a href="#faq" class="smoothScroll">FAQ</a></li>
				<li class="dropdown">
					<button class="dropbtn university">Universities</button>
					<div class="dropdown-content">
					  <a href="/ivano-frankivsk-national-medical-university">Ivano-Frankivsk National Medical University</a>
					  <a href="/lviv-national-medical-university">Lviv National Medical University</a>
					  <a href="/poltava-state-medical-university">Poltava State Medical University</a>
					  <a href="/bogomolets-national-medical-university">Bogomolets National Medical University</a>
					</div>
				</li>
				<li><a href="/gallery" class="smoothScroll">Gallery</a></li>
				<li><a href="#register" class="smoothScroll">Callback</a></li>
				<li><a href="#contact" class="smoothScroll">Contact Us</a></li>
			</ul>

		</div>

	</div>
</div>


<!-- =========================
    INTRO SECTION   
============================== -->
<div id="intro" class="intro ">
	<div class="container ">
		<div class="row ">
			<div  class="col-md-12 col-sm-12 ">
				<h3  class="wow bounceIn" data-wow-delay="0.9s">STUDY ABROAD</h3>
				<h1  class="wow fadeInUp" data-wow-delay="1.6s">GRADUATE FROM A UKRAINIAN UNIVERSITY</h1>
				<a href="#services" rel="nofollow"  class="btn btn-lg btn-default smoothScroll wow fadeInUp hidden-xs" data-wow-delay="2.3s">OUR SERVICES</a>
				<a href="#register" rel="nofollow"  class="btn btn-lg btn-danger smoothScroll wow fadeInUp" data-wow-delay="2.3s">BOOK A CALLBACK</a>
			</div>
		</div>
	</div>
</div>


<!-- =========================
    ABOUT US SECTION   
============================== -->
<section  id="about_us" class="parallax-section">
	<div class="container" >
		<div class="about_us" >
			<!-- <div  class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.6s"> -->
				<h1 class="wow bounceIn" data-wow-delay="0.6s">About us</h1>
			<p class="wow fadeInRight" data-wow-delay="0.9s" style="text-align: center; font-size: large;">Students in India preparing for NEET or AIIMS couldn't continue their dream of becoming a MBBS doctor because of lesser seats in government medical universities and very 
					expensive college fees in private colleges. As a results students either keeps appearing for NEET or switches their stream from MBBS to other 
					medical courses like nursing, dentistry, etc. We at Admissions in Ukraine provide an opportunity to students of pursuing their dreams of becoming 
					a doctor. Doing MBBS in Ukraine is very cheaper as compared to the private medical colleges in India. So, we guide the students with one of our
					possible solution to make a carrier in MBBS. Our journey started in the year 2019 where we sent some students from India to Ivano-Frankvisk. 
					Learning from that experience this year we are trying to make more students dream come true. One shouldn't drop the idea of becoming a doctor
					because of his/her incapability of paying high college fees. If you have qualified NEET and got admitted in a government college then its 
					the best, else give us an opportunity to open new paths to you.</p>
			</div>
		</div>
	</div>
</section>


<!-- =========================
    BENEFITS SECTION   
============================== -->

<section id="benefits" class="parallax_section">
	<div class="container">
		<div style="text-align: center;padding-bottom: 3rem;" class="row">
			<h2 class="wow bounceIn" data-wow-delay="0.3s" style="font-size:4rem;">Your <w class="wow bounceIn" data-wow-delay="0.9s" style="color: #1A73E9;">Benefits</w></h2>
		</div>
		<div class="row">
			<div class="column wow fadeInLeft" data-wow-delay="0.3s">
				<div class="column1">
					<img src="static/home/images/exam.png">
					<h3>NEXT Exam</h3>
					<p>To get the MBBS license, now all students have to appear for the NEXT Exam whether they have done MBBS from India or abroad.</p>
				</div>
			</div>
			<div class="column wow bounceIn" data-wow-delay="0.6s">
				<div class="column1">
					<img src="static/home/images/admission.png">
					<h3>Guaranteed Admission</h3>
					<p>There is no other entrance test for your admission to the university. NEET is the only exam which needs to be qualified.</p>
				</div>
			</div>
			<div class="column wow fadeInRight" data-wow-delay="0.3s">
				<div class="column1">
					<img src="static/home/images/ranking.png">
					<h3>College Ranking</h3>
					<p>All of our selected universities are very reputed one. They are old and well established. All of them are ranked among top universities of Ukraine.</p>
				</div>
			</div>
			<div class="column wow fadeInLeft" data-wow-delay="0.9s">
				<div class="column1">
					<img src="static/home/images/culture.png">
					<h3>International Exposure</h3>
					<p>You will get a chance to spend 6 years of your life in a foreign country. Learning a new language and experience a different culture would be very wonderful.</p>
				</div>
			</div>
			<div class="column wow fadeInUp" data-wow-delay="0.9s">
				<div class="column1">
					<img src="static/home/images/budget.png">
					<h3>Low-Budget MBBS</h3>
					<p>MBBS from Ukraine is much cheaper as compared from the private medical colleges in India. Your MBBS would be completed under a budget of <a class="smoothScroll" href="#headingTwo">30 lakh</a> rupees including everything.</p>
				</div>
			</div>
			<div class="column wow fadeInRight" data-wow-delay="0.9s">
				<div class="column1">
					<img src="static/home/images/Indian.png">
					<h3>Indian Community</h3>
					<p>Ukraine is becoming a hotspot for MBBS aspirants. There are currently 1000+ Indian students in each our mentioned university.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- =========================
    VALUE SECTION   
============================== -->

<section  id="value_proposition" class="parallax-section">
	<div class="container" >
		<div style="text-align: center;" class="row">
			<h2 style="font-size:4rem;">WHY CHOOSE US?</h2>
			<h3 >Make the payment only after you receive the invitation letter from the university</h3>
			<img class="seperator_1" src="static/home/images/seperator.png">
		</div>
		<div class="row">
			<div class="wow fadeInLeft column" data-wow-delay="0s">
				<img src="static/home/images/left.png">
				<h2>STEP-1</h2>
				<i class="icons fa fa-envelope-o" aria-hidden="true"></i>
				<div style="font-weight: 600;">
				<h4>Get the invitation letter from the university</h4>
				</div>
				
			</div>
			<div class="wow bounceIn column" data-wow-delay="0s">
				<img src="static/home/images/middle.png">
				<h2>STEP-2</h2>
				<i class="icons fa fa-plane" aria-hidden="true"></i>
				<h4>Get your student VISA and air ticket to Ukraine</h4>
			</div>
			<div class="wow fadeInRight column"data-wow-delay="0s">
				<img src="static/home/images/right.png">
				<h2>STEP-3</h2>
				<i class="icons fa fa-flag-checkered" aria-hidden="true"></i>
				<h4>The final step is when you reach Ukraine.
					Get your admission letter, hostel and pay your college fees.
				</h4>
			</div>
		</div>
	</div>
</section>


<!-- =========================
    OUR SERVICES SECTION   
============================== -->

<section id="services" class="parallax_section">
	<div class="container">
		<div style="text-align: center;" class="row">
			<h2 style="font-size:4rem; padding-bottom: 3rem;">Our <w style="color: #1A73E9;">Services</w></h2>
		</div>
		<div class="row">
			<div class="column">
				<div class="wow bounceIn" data-wow-delay="0.3s">
					<img src="static/home/images/invitation.png">
					<h3>Invitation letter</h3>
					<p>We will provide you with the invitation letter from the university which is the first step for your admission in a foreign university.</p>				
					<br>
				</div>
				<div class="wow bounceIn" data-wow-delay="0.6s">
					<img src="static/home/images/air.jpg">
					<h3>Air Ticket</h3>
					<p>Your Air Ticket to Ukraine will be provided by us. You need not to pay or worry about your travelling.</p>				
					<br>
				</div>
			</div>
			<div style="margin-top: -3rem;" class="wow fadeInDown column" data-wow-delay="0.5s">
				<img class="new" src="static/home/images/services.png">
			</div>
			<div class="column">
				<div class="wow bounceIn" data-wow-delay="0.9s">
					<img src="static/home/images/visa1.jpg">
					<h3>VISA Clearance</h3>
					<p>Our team will do all the documentation work and will help to get your student VISA at earliest.</p>				
					<br>
				</div>
				<div class="wow bounceIn" data-wow-delay="1.2s">
					<img src="static/home/images/airport.png">
					<h3>Airport Pickup</h3>
					<p>When you reach Ukraine, our representative will receive you and will provide you with transportation to your place of stay.</p>				
					<br>
				</div>
			</div>
		</div>

		<div>			
			<div class="wow bounceIn service5" data-wow-delay="1.5s">
				<img src="static/home/images/acco.png">
				<h3>Accommodation and Food in Ukraine</h3>
				<p>It will take 4-5 days for the completion of your admission procedure. Till then we will provide you with food and accommodation in Ukraine.</p>				
				<br>
			</div>
		</div>
		
	</div>
	<div class="service1">
		<a style="background-color:#1A73E9;border-color: #1A73E9;" href="#contact" rel="nofollow"  class="btn btn-lg btn-danger smoothScroll wow fadeInUp" data-wow-delay="0s">CONTACT US</a>
		<br>
		<br>
		<a style="background-color:#1A73E9;border-color: #1A73E9;" href="#register" rel="nofollow"  class="btn btn-lg btn-danger smoothScroll wow fadeInUp" data-wow-delay="0s">BOOK A CALLBACK</a>
	</div>

</section>

<!-- =========================
    TESTIMONIALS SECTION   
============================== -->
<section style="background-color: #EBFAFC" id="speakers" class="parallax-section">
	<div class="container">
		<div class="row">

			<div class="col-md-12 col-sm-12 wow bounceIn">
				<div class="section-title">
					<h2>Testimonials</h2>
					<!-- <p>Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet.</p> -->
				</div>
			</div>

			<!-- Testimonial Owl Carousel section
			================================================== -->
			<div id="owl-speakers" class="owl-carousel">

				<div class="item wow fadeInLeft col-md-3 col-sm-3" data-wow-delay="0.6s">
					<div class="speakers-wrapper">
						<img src="static/home/images/bhuwan.jpg" class="img-responsive" alt="Study Abroad-Testimonials">
							<div style="height: 25.5rem;" class="speakers-thumb">
								<h3>Bhuwan Raikwar</h3>
								<h6>2nd Year</h6>
								<p style="padding-right: 1rem;padding-left: 1rem;">“I am very happy and satisfied with IFNMU, Ukraine and with this small note extend my sincere gratitude to all my counsellors at ADMISSIONS IN UKRAINE who not only helped me to shape my plan of studying abroad but also encouraged and motivated me to realize it.”</p>
							</div>
					</div>
				</div>

				<div class="item wow fadeInLeft col-md-3 col-sm-3" data-wow-delay="0.3s">
					<div class="speakers-wrapper">
						<img src="static/home/images/shivam.jpg" class="img-responsive" alt="Study Abroad-Testimonials">
							<div style="height: 25.5rem;" class="speakers-thumb">
								<h3>Shivam Sharma</h3>
								<h6>2nd Year</h6>
								</br>
								</br>
								<p style="padding-right: 1rem;padding-left: 1rem;">”Thanks to ADMISSIONS IN UKRAINE for giving me such a wonderful opportunity. I feel right at home on this culturally diverse campus. I’m glad to expand my horizons here.”</p>
							</div>
					</div>
				</div>

				<div class="item wow fadeInRight col-md-3 col-sm-3" data-wow-delay="0.3s">
					<div class="speakers-wrapper">
						<img src="static/home/images/hammad.jpg" class="img-responsive" alt="Study Abroad-Testimonials">
							<div style="height: 25.5rem;" class="speakers-thumb">
								<h3>Hammad Momin</h3>
								<h6>2nd Year</h6>
								<p style="padding-right: 1rem;padding-left: 1rem;" >”I want you to know that studying in Ukraine has set a good opportunity for students like me to fulfil their dreams. The University campus is very comfortable for studies. The hostel and the city are comfortable to live in. I’m grateful to ADMISSIONS IN UKRAINE”</p>
							</div>
					</div>
				</div>

				<div class="item wow fadeInRight col-md-3 col-sm-3" data-wow-delay="0.6s">
					<div class="speakers-wrapper">
						<img src="static/home/images/vishwajeet.jpg" class="img-responsive" alt="Study Abroad-Testimonials">
							<div style="height: 25.5rem;" class="speakers-thumb">
								<h3>Vishwajeet Chaudhary</h3>
								<h6>2nd Year</h6>
								<p style="padding-right: 1rem;padding-left: 1rem;">”I was about to drop my dream of doing MBBS because of the high fees of private medical colleges in India. But ADMISSIONS IN UKRAINE gave me another chance to pursue my dream of becoming a doctor with affordable fees.”</p>
							</div>
					</div>
				</div>
				
			</div>

		</div>
	</div>
</section>

<!-- =========================
   REGISTER SECTION   
============================== -->
<section id="register" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="wow fadeInUp col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10" style="padding-top: 2rem;" data-wow-delay="0.6s">

			<div  class="wow fadeInUp col-md-7 col-sm-7" data-wow-delay="0.6s">
				<h2 class="change_color">Request a <bet>call back</bet> </h2>
				<p style="font-size: 1.7rem;letter-spacing: 0.7px;color: white;">Fill up the form and we will get back to you.</p>
			</div>

			<div class="wow fadeInUp col-md-5 col-sm-5" data-wow-delay="0.6s">
				
				<form id="register_form"  method="POST">
					{% csrf_token %}
					<input name="firstname" type="text" class="form-control" id="firstname" placeholder="Name">
					<!-- <input name="lastname" type="text" class="form-control" id="lastname" placeholder="Last Name"> -->
					<input name="phone" type="telephone" class="form-control" id="phone" placeholder="Phone Number">
					<!-- <input name="email" type="email" class="form-control" id="email" placeholder="Email Address"> -->
					<div class="col-md-offset-6 col-md-6 col-sm-offset-1 col-sm-10">
					<input name="submit" type="submit" class="form-control" id="submit_btn" value="BOOK">
					</div>
				</form>
			</div>
		</div>

			<div class="col-md-1"></div>

		</div>
	</div>
</section>


<!-- =========================
    FAQ SECTION   
============================== -->
<section id="faq" class="parallax-section">
	<div class="container">
		<div class="row">

			<!-- Section title
			================================================== -->
			<div class="wow bounceIn col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 text-center">
				<div class="section-title">
					<h1>DO YOU HAVE ANY QUESTIONS?</h1>
					<h3>These are the most common questions that arise in a students mind.</h3>
				</div>
			</div>

			<div class="wow fadeInRight col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10" data-wow-delay="0.9s">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
						   <h4 class="panel-title">
							 <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								Is there any exam we need to qualify before getting an admission?
							 </a>
						   </h4>
					 </div>
						<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
						   <div class="panel-body">
							 <p><ul>
								 <li>NEET Qualified</li>
								 <li>12 Marksheet (Minimum 45% in PCB)</li>
								 <li>No other entrance exam</li>
							 </ul></p>
						 </div>
						 </div>
				  </div>

				  <div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOne">
					   <h4 class="panel-title">
						 <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							Is Ukraine safe for Indian students?
						 </a>
					   </h4>
				 </div>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
					   <div class="panel-body">
						 <p><ul>
							 <li>Yes, it is very safe for Indian students.</li>
						 </ul></p>
					 </div>
					 </div>
			  </div>

			  <div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingOne">
				   <h4 class="panel-title">
					 <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						Availability of Indian food in Ukraine?
					 </a>
				   </h4>
			 </div>
				<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
				   <div class="panel-body">
					 <p><ul>
						 <li>There are certain mess and restaurant that specifically provides Indian food.</li>
					 </ul></p>
				 </div>
				 </div>
		  </div>

					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
						<h4 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								How is the climate in Ukraine?
							</a>
						</h4>
					</div>
						<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						<div class="panel-body">
							<p><ul>
								<li>If you love cold places, Ukraine is for you.</li>
								<li>You will experience snowfall here in winters</li>
								<li>While in the summer you will find it greener like nowhere else.</li>
							</ul></p>
						</div>
						</div>
					</div>


    				<div class="panel panel-default">
   						<div class="panel-heading" role="tab" id="headingTwo">
      						<h4 class="panel-title">
        						<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
									What is included in the 30 lakhs budget?
        						</a>
      						</h4>
    					</div>
   						<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      						<div class="panel-body">
								  <p><ul>
									  <li>All your document verification, clearance and translation.</li>
									  <li>Invitation Letter</li>
									  <li>6 years VISA</li>
									  <li>6 years Tuition fee</li>
									  <li>6 years Hostel accommodation</li>
									  <li>6 years Mess charges</li>
									  <li>6 years Health Insurance</li>
								  </ul></p>
								<!-- <p>Your 6 years  all basic expenses including college fee, hostel and mess charges for the course of 5.5 years shall be covered under 25 Lakhs.</p>	 -->
							</div>
   						 </div>
 					</div>

 					<div class="panel panel-default">
   						<div class="panel-heading" role="tab" id="headingThree">
      						<h4 class="panel-title">
        						<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          							Is the University genuine?
        						</a>
      						</h4>
    					</div>
   						<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      						<div class="panel-body">
                            	<p><ul>
									<li>Ivano-Frankivsk is an MCI Approved Government University.</li>
									<li><a href = "https://www.mciindia.org/CMS/information-desk/for-students-to-study-in-abroad">See all MCI approved universities.</a></li>
								</ul></p>
							</div>
   						 </div>
 					 </div>

 				 </div>
			</div>

		</div>
	</div>
</section>
<!-- =========================
     CONTACT
============================== -->
<div class="contact">
<section id="contact" >
	<div class="container tm-container-contact ">
		<div  class="row " >
			<div class="wow fadeInDown col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10" data-wow-delay="0.6s">
					<h1 class="mb-4 tm-section-title ">Contact Us</h1>
					<div class="contact_des"></div>
					<div style="width: 100%;height: 2px;background: black;"></div>
					<div style="width: 25%;height: 8px;background: black;"></div>
					
					<!-- </div> -->
					<!-- <div class="contact_des"></div>
					<div class="mb-5 tm-underline " >
					<div class="tm-underline-inner"></div>
					</div> -->
					<h3 class="mb-5 contact_des" >
						To have a better understanding of your admission procedure and total fee. Contact us now.
					</h3>
			</div>
			<div class="wow fadeInDown col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10" style="padding-top: 5rem;" data-wow-delay="1.2s" >
				<div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item"  >
					<a  href="tel:9520102382" class="tm-contact-item-link">
						<i style="font-size: 6rem; padding-right: 1.4rem" class="fa fa-3x fa-phone mr-4"></i>
						<span class="mb-0">952-010-2382</span>
					</a>              
				</div>
				<div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item"  >
					<a href="mailto:admin@admissionsinukraine.com" class="tm-contact-item-link">
						<i style="font-size: 4.8rem; padding-right: 1.4rem" class="fa fa-3x fa-envelope mr-4"></i>
						<span  class="mb-0">admin@admissionsinukraine.com</span>
						
					</a>              
				</div>
			</div>
		</div>
	</div>
</section>
</div>
<script>$(document).ready(function() {
    $('#submit_btn').on('click', function(e) {
        e.preventDefault();
        var formData = {
            'firstname'  : $('#firstname').val(),
            'lastname'    :      $('#lastname').val(),
            'phone'  : $('#phone').val(),
            'email'    :      $('#email').val(),
			'csrfmiddlewaretoken': $('[name="csrfmiddlewaretoken"]').val()

        };
		if(formData.firstname==""){alert("Enter Name")}
			else if(formData.phone==""){alert("Enter Phone Number");}
			else{
        $.ajax({
			
            type        : "POST",
            url         : "", 
            data        : formData,
			success:function(){				
				$('#submit_btn').prop("disabled",true)
				location.href = "https://admissionsinukraine.com/registration"
			}
			
        })}

    });
	
});</script>

{% endblock %}