{% extends 'base.html' %}
{% block head %}

<title>Ivano-Frankivsk National Medical University</title>
{% endblock %}
{% block body %}

<!-- =========================
     NAVIGATION LINKS     
============================== -->
<div class="navbar navbar-fixed-top custom-navbar" role="navigation">
	<div class="container">

		<!-- navbar header -->
		<div class="navbar-header">		
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>	
			<a href="/"><img class="company_logo" src="static/home/images/Logodescription.png"></a>
		</div>

		<div class="collapse navbar-collapse">

			<ul class="nav navbar-nav navbar-right">
				<li><a href="/" class="smoothScroll">Home</a></li>
				
				<li class="dropdown">
					<button class=" dropbtn university">NEET</button>
					<div class="dropdown-content1">
					  <a href="/college-predictor" class="smoothScroll">College Predictor</a>
					  <a href="/previous-year-cutoffs" class="smoothScroll">Previous Year Cutoffs</a>
					</div>
				  </li>
				<li class="dropdown">
					<button class="dropbtn university">Universities</button>
					<div class="dropdown-content">
					  <a href="/ivano-frankivsk-national-medical-university">Ivano-Frankivsk National Medical University</a>
					  <a href="/lviv-national-medical-university">Lviv National Medical University</a>
					  <a href="/poltava-state-medical-university">Poltava State Medical University</a>
					  <a href="/bogomolets-national-medical-university">Bogomolets National Medical University</a>
					</div>
				</li>
				<li><a href="/gallery" class="smoothScroll">Gallery</a></li>
				<li><a href="/#register" class="smoothScroll">Callback</a></li>
				<li><a href="/#contact" class="smoothScroll">Contact Us</a></li>
			</ul>
        </div>


	</div>
</div>

<!-- =========================
    INTRO SECTION   
============================== -->
<section id="intro" class="ivano">
	<div class="container">
		<div class="row">

			<div class="col-md-12 col-sm-12">
				<a href="#overview" rel="nofollow"  class="btn btn-lg btn-default smoothScroll wow fadeInUp " data-wow-delay="1s">LEARN MORE</a>
			</div>


		</div>
	</div>
</section>
        
<!-- =========================
    OVERVIEW SECTION   
============================== --> 
<section  id="overview" class="parallax-section">
	<div class="container" >
		<div class="row">

			<div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.6s">
				<h1>IVANO-FRANKIVSK NATIONAL MEDICAL UNIVERSITY</h1>
				<p style="text-align: justify;">The Ivano-Frankivsk National Medical University is situated in the Ivano city of Ukraine. It was established in the year 1945.
					The university consists of its 12 hospitals and clinics. The IFNMU is a member of </p>
					<ul>
						<li>European Association of Universities</li>
						<li>World Health Organization</li>
						<li>Other International Organizations</li>
					</ul>
					<p>It contains 48 departments and in the year 2009 IFNMU Library received the prize for "Library of the year" in the All Ukrainian Contest.
					It is one of those handful of Medical Universities in Ukraine which has been designated as a “National Medical University” by the legislature of Ukraine.</p>
				<h3>Duration</h3>
				<p style="text-align: justify;">Mbbs course duration is 5.8 years which also includes the internship.
					In all medical universities in Ukraine, course duration for MBBS is 5.8 years.</p>
				<h3>Eligibility</h3>
				<p style="text-align: justify;"><ul >
					<li>Student must complete their Secondary education with minimum 45% marks in PCB.</li>
					<li>Minimum age to apply is 17 years by 31st December of the admission year</li>
					<li>Must have qualified NEET exam</li>
					<li>Only regular student can apply</li>
				</ul></p>
				<h3>Courses</h3>
				<p><ul >
					<li>General Medicine (MBBS)</li>
					<li>Preventive Medicine</li>
					<li>Paediatrics</li>
					<li>Dentistry</li>
					<li>Higher Nursing Education</li>
				</ul></p>
			</div>
					
			<div class="wow fadeInUp col-md-6 col-sm-6" style="padding-top: 3.7rem;" data-wow-delay="0.9s">
			
				<img src="static/home/images/overview-img.jpg" class="img-responsive" alt="Ivano-Frankivsk National Medical University">
			</div>

		</div>
	</div>
</section>
<section id="map"> 
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 wow bounceIn" data-wow-delay="0.6s">
				<div class="section-title">
					<h2>Street View</h2>
					<p>Have a look at the area your university is in. </p>
					<label style="font-size: 2rem;">Select the part of the university you wants to view   </label>
					<select class="custom-select custom-select-sm" id ="location" onchange="map_view()">
						<option value="Park">Park</option>
						<option value="University">Main Building</option>
						<option value="Sports Complex">Sports Complex</option>
						<option value="Local Shops">Local Shops</option>
						<option value="Garden">Garden</option>
					</select>
				</div>
			</div>
			<div class="col-md-12 col-sm-12 wow bounceIn" data-wow-delay="0.9s">				
				<div id="map123">
					<iframe src="https://www.google.com/maps/embed?pb=!4v1601926112030!6m8!1m7!1sCAoSK0FGMVFpcFBFVnlDbmlEU1FLSDZtZ1pFQUhxZUR3RHVZTmRaUmhjZ0FnZjg.!2m2!1d48.92109366666666!2d24.70960536666666!3f247.2522801837598!4f-3.811088084163643!5f0.7820865974627469" width="100%" height="550" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				</div>
			</div>
		</div>
	</div>
</section>


<script>
	function map_view(){
		var x = document.getElementById("location").value;
		if(x === "Sports Complex"){document.getElementById("map123").innerHTML = '<iframe src="https://www.google.com/maps/embed?pb=!4v1600622729654!6m8!1m7!1sApE6WbYN0WIfbooSyb3AtQ!2m2!1d48.94531655281484!2d24.70427763602204!3f108.48781211854455!4f-1.0154490194212542!5f1.1914836586062052" width="100%" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>'}
		else if(x==="University"){document.getElementById("map123").innerHTML = '<iframe src="https://www.google.com/maps/embed?pb=!4v1599060023596!6m8!1m7!1sSTppaTYrZ-5Y4yXBrgjkCw!2m2!1d48.92165619417547!2d24.70838343356422!3f96.74841374853426!4f4.739648353475673!5f0.7820865974627469" width="100%" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>'}
		else if(x==="Park"){document.getElementById("map123").innerHTML = '<iframe src="https://www.google.com/maps/embed?pb=!4v1601926112030!6m8!1m7!1sCAoSK0FGMVFpcFBFVnlDbmlEU1FLSDZtZ1pFQUhxZUR3RHVZTmRaUmhjZ0FnZjg.!2m2!1d48.92109366666666!2d24.70960536666666!3f247.2522801837598!4f-3.811088084163643!5f0.7820865974627469" width="100%" height="550" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>'}
		else if(x==="Local Shops"){document.getElementById("map123").innerHTML = '<iframe src="https://www.google.com/maps/embed?pb=!4v1601926577737!6m8!1m7!1sCAoSLEFGMVFpcE1wdjNCMVQ5di13MmJkaTBBNEduZUZhcG5Hd2FlNDhpdzNGMXVY!2m2!1d48.9199135!2d24.7095364!3f96.56442552688611!4f-3.516100544406541!5f0.7820865974627469" width="100%" height="550" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>'}
		else if(x==="Garden"){document.getElementById("map123").innerHTML = '<iframe src="https://www.google.com/maps/embed?pb=!4v1601926861940!6m8!1m7!1sCAoSK0FGMVFpcE1rSEpSeXc2bWdWRURqNmE5em1najZ4N1ZUeEVMX0RmekRQcVE.!2m2!1d48.9211727!2d24.7111752!3f96.7888001429049!4f-1.5851374883208535!5f0.7820865974627469" width="100%" height="550" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>'}
	}
</script>
{% endblock %}